@media screen and (max-width:768px) {

    
    .larea {
        display: none;
    }

    .login {
        display:block;
        height: auto;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-family: 'Cera Pro Thin' sans-serif;
    }

    .lbay {
        height: 51px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        background-color: rgb(248 248 248);
        padding-left: 55px;
    }

    .buttonx {
        padding: 1.0625rem;
        height: 1.0625rem;
        align-items: center;    
        display: flex;
        justify-items: flex-end;
    }

    .x {
        display: block;

    }

    .loginGroup {
        height: 52px;
        flex-direction: row-reverse;
    }

    .laccount {
        display: none;
    }

    .laccount span, .line, .linsiders {
        display: none;
    }

    .laccount button {
        padding: 0.75rem;
        color: rgb(44 44 44);
    }

    .linsiders a img{
        display: none;
    }

}

@media screen and (max-width:375px) {

    .lbay {
        padding-left: 0;
    }

    .lbay button {
        padding: 12px;
    }

    .lbay p {
        text-align: center;
        padding: 0 12px;
    }
}